body {
  background-color: black;


}
#output {

  width:10%;
  height:100px;
/*  text-align: center;*/
  color:blue;
  display: inline-block;
  position: absolute;
  z-index:0;
}


#three {
  width: 100%;
/*  display: inline-block;*/
  position: absolute;
  z-index: 1
  float: right;
}

.intro {
  position: absolute;
  z-index: 2;
  font-family: "courier new";
  color: white;
  text-align: center;
  width: 100%;
  top: 50%;

  display: none;
}

.credit {
  font-size: 14px;
}

.credit > a {
  color: #FFeeFF;
}
